@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --circle-glow: linear-gradient(
    to bottom right,
    rgba(237, 68, 26, 0.501),
    rgba(232, 234, 221, 0.508),
    rgba(1, 234, 255, 0.372),
    rgba(1, 65, 255, 0.437)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

.sinWave {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  animation: sinWave 1 ease 100 infinite;
}

.sinWaveBar {
  height: 100%;
  position: absolute;
}

@keyframes sinWave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}
